textarea {
  font-family: monospace;
}

.form-control, .btn {
  border-radius: 0;
}

.sdk-fabric-header {
  background:url('../img/header_bg.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:top center;
  background-color:#222;
}

.apioo-brand {
  background-color:#000;
  text-align: center;
  color:#eee;
  padding:24px;
  font-weight:bold;
}

.apioo-brand a {
  color:#00d1b2;
  text-decoration:none;
}
